.contenedorItem {
    text-align: center;
    border: 1px solid #000000;
    margin: 3rem;
    display: flex;
    justify-content: space-evenly;
}

img {
    width: 25vw;
}

.contador{
    display: flex;
}

.imgCant{
    padding-left: 50px;}