
*{
    text-decoration: none;
    color: inherit;
}
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
.nav-item{
    display: flex;
}

li{
    list-style: none;
    padding: 1px;
    cursor: pointer;
    color: rgb(0, 0, 0)
}

header{
    background-color: rgb(141, 128, 128) ;
}

.nav-bar{
    display: flex;

}
.navLinks {
    display: inline-block;
    font-size: calc(1rem + 1vw);
    font-weight: bold;
    text-decoration: none;
    margin-right: 3rem;
    margin-left: 2rem;
    padding: 1rem;
    cursor: pointer;
    color: rgba(113, 160, 111, 0.755);
    text-shadow: black 1px 1px 2px,
        black -1px 1px 2px,
        black 1px -1px 2px,
        black -1px -1px 2px,
        black 1px 1px 2px,
        black -1px 1px 2px,
        black 1px -1px 2px,
        black -1px -1px 2px;
}